## Pipeline overview
(1%) Gives a summary of the data processing pipeline so a technical expert can easily follow along

we use the [Kaggle Bitcoin data](https://www.kaggle.com/datasets/sudalairajkumar/cryptocurrencypricehistory) and analyze the bitcoin price over 2013 to 2021. 
![The data shows here](https://i.ibb.co/jz0xGb3/2022-11-04-18-10-48.png)

This is download as an sns file, so we need to use `pandas` and `numpy` to read the file.
- `pd.read_csv()`
- `import pandas as pd`
- `import numpy as np`

For the Bitcoin Data, we only need `Date`,`Close`,`Volume` and `Marketcap` column, we use `df.drop()`to delete other data. The column `Date` will be an index and make the analyze more easier.

To make it simpler to manage the data frame as a time series object, the dates column of the dataset will be converted into an index, thus we can sort by the datetime.
- `parse_dates=True`
The `Date` will be an index and can call the `Date` value by `df.index`.

In this way, we change the csv.file only contain the variables we need, and can plot it quickly.

We will write code to scrape Bitcoin related tweets from Twitter, and store the tweetâ€™s sentiment, like count, and retweet count along with the date of the tweet in a dataframe.

In [3]:
import pandas as pd
import numpy as py

# access the data set from outside csv file
df = pd.read_csv('coin_Bitcoin.csv', index_col = ['Date'], parse_dates=True)
df.head()

,SNo,Name,Symbol,High,Low,Open,Close,Volume,Marketcap
Date,,,,,,,,,
2013-04-29 23:59:59,1,Bitcoin,BTC,147.488007,134.000000,134.444000,144.539993,0.0,1.603769e+09
2013-04-30 23:59:59,2,Bitcoin,BTC,146.929993,134.050003,144.000000,139.000000,0.0,1.542813e+09
2013-05-01 23:59:59,3,Bitcoin,BTC,139.889999,107.720001,139.000000,116.989998,0.0,1.298955e+09
2013-05-02 23:59:59,4,Bitcoin,BTC,125.599998,92.281898,116.379997,105.209999,0.0,1.168517e+09
2013-05-03 23:59:59,5,Bitcoin,BTC,108.127998,79.099998,106.250000,97.750000,0.0,1.085995e+09

In [4]:
# Clean the dataset and only remain the data need
df = df.drop(['SNo', 'Name', 'Symbol', 'High', 'Low', 'Open'], axis=1)
df.head()

                          Close  Volume     Marketcap
Date
2013-04-29 23:59:59  144.539993     0.0  1.603769e+09
2013-04-30 23:59:59  139.000000     0.0  1.542813e+09
2013-05-01 23:59:59  116.989998     0.0  1.298955e+09
2013-05-02 23:59:59  105.209999     0.0  1.168517e+09
2013-05-03 23:59:59   97.750000     0.0  1.085995e+09

In [5]:
df.index

DatetimeIndex(['2013-04-29 23:59:59', '2013-04-30 23:59:59',
               '2013-05-01 23:59:59', '2013-05-02 23:59:59',
               '2013-05-03 23:59:59', '2013-05-04 23:59:59',
               '2013-05-05 23:59:59', '2013-05-06 23:59:59',
               '2013-05-07 23:59:59', '2013-05-08 23:59:59',
               ...
               '2021-06-27 23:59:59', '2021-06-28 23:59:59',
               '2021-06-29 23:59:59', '2021-06-30 23:59:59',
               '2021-07-01 23:59:59', '2021-07-02 23:59:59',
               '2021-07-03 23:59:59', '2021-07-04 23:59:59',
               '2021-07-05 23:59:59', '2021-07-06 23:59:59'],
              dtype='datetime64[ns]', name='Date', length=2991, freq=None)

In [6]:
df.index = [i.split(' ')[1] for i in df.index]

AttributeError: 'Timestamp' object has no attribute 'split'